<nav class="navigation">
  <ul>
     <li><a [routerLink]="['/']">Home</a></li>
     <li>
       <a href="#">Products</a>
       <ul class="dropdown-1">
         <li><a href="#">Surface Go</a></li>
         <li><a href="#">Suface Pro</a></li>
         <li><a href="#">Surface Book</a></li>
         <li><a href="#">iPad Pro</a></li>
       </ul>
      </li>
     <li><a href="#">Services</a>
      <ul class="dropdown-1">
        <li><a href="#">Web Design</a></li>
        <li><a href="#">Training</a></li>
      </ul>
    </li>
     <li><a href="#">Blog</a></li>
     <li><a [routerLink]="['/contact']">Contact</a></li>
  </ul>
</nav>
